<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AVAudioSessionCategoryPlayAndRecord</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict/>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-Calculator</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Calculator</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Notes</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Notes</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>82.65.130.61</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Safe utilise votre position pour l'inclure dans les alertes d'urgence envoyées à vos contacts.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Safe utilise votre position pour l'inclure dans les alertes d'urgence envoyées à vos contacts.</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Safe envoie des notifications pour vous alerter des détections d'urgence et des rappels de surveillance programmée.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>background-processing</string>
		<string>background-fetch</string>
	</array>
</dict>
</plist>
